.set-range {
  width: 280px;
  margin-top: 10px;
  background-color: #d9d9d9;
  &__inner {
    height: 50px;
    width: 280px;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
  }
}

.flex-set-range {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  flex-direction: column;
}

.button-approve {
  display: flex;
  width: 23px;
  height: 23px;
  align-items: center;
  justify-content: center;
  background-color: #d5f0b0;
  border-radius: 25px;
}

.button-approve:hover {
  background-color: #05ff00;
  cursor: pointer;
}
